[submodule "lib/sushiswap"]
	path = lib/sushiswap
	url = https://github.com/rainlanguage/sushiswap.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dotrain"]
	path = lib/dotrain
	url = https://github.com/rainlanguage/dotrain
